---
title: Проверка учетной записи дочерних 8000038 GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 01/24/2019
ms.locfileid: "29486683"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Неверная дата рождения, отображаемые в свою учетную запись Майкрософт

Microsoft учетной записи безопасности очень серьезно. Может недавно запрошено для предоставления родительского согласия пользователя для учетной записи Майкрософт дочерних. Вам нужна помощь, предоставляя родительское согласие или обновлении Дата рождения на учетную запись Майкрософт, в статье [проверки срок хранения для родительского согласия пользователя](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Узнайте больше о [разрешения родительского и дочернего учетные записи Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

