---
title: Проверка EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710352"
---
# <a name="edu-verification"></a><span data-ttu-id="0685e-102">Проверка EDU</span><span class="sxs-lookup"><span data-stu-id="0685e-102">EDU verification</span></span>

<span data-ttu-id="0685e-103">В большинстве случаев запросы о соответствии требованиям для образовательных учреждений обрабатываются в течение 24–48 часов.</span><span class="sxs-lookup"><span data-stu-id="0685e-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="0685e-104">Некоторые запросы могут нуждаться в более тщательной проверке, которая может занять до 10 рабочих дней.</span><span class="sxs-lookup"><span data-stu-id="0685e-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="0685e-105">По завершении мы отправим вам электронное письмо о состоянии соответствия требованиям для вашего учебного заведения.</span><span class="sxs-lookup"><span data-stu-id="0685e-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="0685e-106">**Важно!** Если выйти из мастера проверки перед указанием домена, вы можете [возобновить работу мастера](https://go.microsoft.com/fwlink/p/?linkid=2135255) в любой момент бесплатного ознакомительного периода.</span><span class="sxs-lookup"><span data-stu-id="0685e-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="0685e-107">Чтобы проверить состояние домена, откройте [Центр администрирования Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="0685e-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="0685e-108">На домашней странице прокрутите вниз и найдите карточку **Выставление счетов**.</span><span class="sxs-lookup"><span data-stu-id="0685e-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="0685e-109">На карточке **Выставление счетов** указывается состояние проверки (утверждено, ожидает, отклонено или необходимо добавить домен).</span><span class="sxs-lookup"><span data-stu-id="0685e-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="0685e-110">Если запрос отклонен, см. статью [Мое учебное заведение не отвечает требованиям. Что делать?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="0685e-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>