---
title: Проверка EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710352"
---
# <a name="edu-verification"></a>Проверка EDU

В большинстве случаев запросы о соответствии требованиям для образовательных учреждений обрабатываются в течение 24–48 часов. Некоторые запросы могут нуждаться в более тщательной проверке, которая может занять до 10 рабочих дней. По завершении мы отправим вам электронное письмо о состоянии соответствия требованиям для вашего учебного заведения.

**Важно!** Если выйти из мастера проверки перед указанием домена, вы можете [возобновить работу мастера](https://go.microsoft.com/fwlink/p/?linkid=2135255) в любой момент бесплатного ознакомительного периода.

Чтобы проверить состояние домена, откройте [Центр администрирования Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). На домашней странице прокрутите вниз и найдите карточку **Выставление счетов**. На карточке **Выставление счетов** указывается состояние проверки (утверждено, ожидает, отклонено или необходимо добавить домен).

Если запрос отклонен, см. статью [Мое учебное заведение не отвечает требованиям. Что делать?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)