---
title: Проверка EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205280"
---
# <a name="edu-verification"></a><span data-ttu-id="9491a-102">Проверка EDU</span><span class="sxs-lookup"><span data-stu-id="9491a-102">EDU verification</span></span>

<span data-ttu-id="9491a-103">В большинстве случаев запросы о соответствии требованиям для образовательных учреждений обрабатываются в течение 24–48 часов.</span><span class="sxs-lookup"><span data-stu-id="9491a-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="9491a-104">Некоторые запросы могут нуждаться в более тщательной проверке, которая может занять до 10 рабочих дней.</span><span class="sxs-lookup"><span data-stu-id="9491a-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="9491a-105">По завершении мы отправим вам электронное письмо о состоянии соответствия требованиям для вашего учебного заведения.</span><span class="sxs-lookup"><span data-stu-id="9491a-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="9491a-106">**Важно!** Если выйти из мастера проверки перед указанием домена, вы можете [возобновить работу мастера](https://go.microsoft.com/fwlink/p/?linkid=2135255) в любой момент бесплатного ознакомительного периода.</span><span class="sxs-lookup"><span data-stu-id="9491a-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="9491a-107">Чтобы проверить состояние домена, откройте [Центр администрирования Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="9491a-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="9491a-108">На домашней странице прокрутите вниз и найдите карточку **Выставление счетов**.</span><span class="sxs-lookup"><span data-stu-id="9491a-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="9491a-109">На карточке **Выставление счетов** указывается состояние проверки (утверждено, ожидает, отклонено или необходимо добавить домен).</span><span class="sxs-lookup"><span data-stu-id="9491a-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="9491a-110">Если запрос отклонен, см. статью [Мое учебное заведение не отвечает требованиям. Что делать?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="9491a-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>