---
title: Проверка EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205280"
---
# <a name="edu-verification"></a>Проверка EDU

В большинстве случаев запросы о соответствии требованиям для образовательных учреждений обрабатываются в течение 24–48 часов. Некоторые запросы могут нуждаться в более тщательной проверке, которая может занять до 10 рабочих дней. По завершении мы отправим вам электронное письмо о состоянии соответствия требованиям для вашего учебного заведения.

**Важно!** Если выйти из мастера проверки перед указанием домена, вы можете [возобновить работу мастера](https://go.microsoft.com/fwlink/p/?linkid=2135255) в любой момент бесплатного ознакомительного периода.

Чтобы проверить состояние домена, откройте [Центр администрирования Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). На домашней странице прокрутите вниз и найдите карточку **Выставление счетов**. На карточке **Выставление счетов** указывается состояние проверки (утверждено, ожидает, отклонено или необходимо добавить домен).

Если запрос отклонен, см. статью [Мое учебное заведение не отвечает требованиям. Что делать?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)