---
title: Проверка дочерней учетной записи GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400982"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Неправильное отображение даты рождения в учетной записи Майкрософт

Корпорация Майкрософт очень серьезно применяется для безопасности учетной записи. Возможно, вы недавно предоставили запрос на предоставление разрешения родителей учетной записи Майкрософт ребенка. Если вам нужна помощь по обеспечению согласия или обновлению даты рождения в учетной записи Майкрософт, ознакомьтесь со статьей [Проверка возраста для разрешения родителей](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Узнайте больше о [согласия родителей и дочерних учетных записЯх Майкрософт](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

