---
title: Проверка дочерней учетной записи GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764993"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Неправильное отображение даты рождения в учетной записи Майкрософт

Корпорация Майкрософт очень серьезно применяется для безопасности учетной записи. Возможно, вы недавно предоставили запрос на предоставление разрешения родителей учетной записи Майкрософт ребенка. Если вам нужна помощь по обеспечению согласия или обновлению даты рождения в учетной записи Майкрософт, ознакомьтесь со статьей [Проверка возраста для разрешения родителей](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Узнайте больше о [согласия родителей и дочерних учетных записях Майкрософт](https://go.microsoft.com/fwlink/p/?linkid=874365).
  