---
title: 8000038 проверки учетной записи ребенка GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057007"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Дата рождения, отображаемая в учетной записи Майкрософт, неверна

Корпорация Майкрософт очень серьезно относится к безопасности. Возможно, недавно вам было предложено предоставить родительское согласие для учетной записи Майкрософт ребенка. Если вам нужна помощь в предоставлении родительского согласия или обновлении даты рождения в учетной записи Майкрософт, см. в справке Проверка возраста [для родительского согласия.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Дополнительные новости о [родительском согласии и учетных записях детей Майкрософт.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  