---
title: Устранение неполадок с проверкой издателя
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875399"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Проблемы разработчиков, связанные с проверкой издателя

**Рекомендуемые действия** 

Чтобы устранить проблемы, связанные с проверкой издателя, выполните следующие действия.

1. Проверьте предварительные условия и другие требования, чтобы убедиться в их выполнении.
2. Ознакомьтесь с инструкциями по [добавлению метки проверенного издателя для приложения](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) и убедитесь, что все действия выполнены успешно.
3. Ознакомьтесь со списком [распространенных проблем](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) и следуйте рекомендуемым действиям, если у вас возникла проблема из этого списка.
4. Чтобы получить дополнительные сведения и исключить любые проблемы пользовательского интерфейса, воспроизведите запрос в [песочнице Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls).

**Рекомендуемые документы**

- [Проверка издателя — обзор](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Добавление метки проверенного издателя для приложения](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Устранение неполадок с проверкой издателя](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

