---
title: Устранение неполадок с проверкой издателя
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: HT
ms.contentlocale: ru-RU
ms.lasthandoff: 01/15/2021
ms.locfileid: "49875399"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="d163a-102">Проблемы разработчиков, связанные с проверкой издателя</span><span class="sxs-lookup"><span data-stu-id="d163a-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="d163a-103">**Рекомендуемые действия**</span><span class="sxs-lookup"><span data-stu-id="d163a-103">**Recommended steps**</span></span> 

<span data-ttu-id="d163a-104">Чтобы устранить проблемы, связанные с проверкой издателя, выполните следующие действия.</span><span class="sxs-lookup"><span data-stu-id="d163a-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="d163a-105">Проверьте предварительные условия и другие требования, чтобы убедиться в их выполнении.</span><span class="sxs-lookup"><span data-stu-id="d163a-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="d163a-106">Ознакомьтесь с инструкциями по [добавлению метки проверенного издателя для приложения](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) и убедитесь, что все действия выполнены успешно.</span><span class="sxs-lookup"><span data-stu-id="d163a-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="d163a-107">Ознакомьтесь со списком [распространенных проблем](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) и следуйте рекомендуемым действиям, если у вас возникла проблема из этого списка.</span><span class="sxs-lookup"><span data-stu-id="d163a-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="d163a-108">Чтобы получить дополнительные сведения и исключить любые проблемы пользовательского интерфейса, воспроизведите запрос в [песочнице Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls).</span><span class="sxs-lookup"><span data-stu-id="d163a-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="d163a-109">**Рекомендуемые документы**</span><span class="sxs-lookup"><span data-stu-id="d163a-109">**Recommended documents**</span></span>

- [<span data-ttu-id="d163a-110">Проверка издателя — обзор</span><span class="sxs-lookup"><span data-stu-id="d163a-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="d163a-111">Добавление метки проверенного издателя для приложения</span><span class="sxs-lookup"><span data-stu-id="d163a-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="d163a-112">Устранение неполадок с проверкой издателя</span><span class="sxs-lookup"><span data-stu-id="d163a-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

